<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/scooby.png" width="80" height="80">
    </a>
    <h3 id="titulo-site">Perguntas e Respostas</h3>
</nav>